modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 15957
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 21015
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 22108
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 24112
externalPort = 6000
exposeLocalhost = true

[[ports]]
localPort = 30656
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 62031
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 64098
externalPort = 3003
exposeLocalhost = true

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
NEXTAUTH_URL = "https://51413c3e-4847-4bb3-851a-f02c3f76aa1d-00-1o01ujob0udrx.worf.replit.dev"
NEXT_PUBLIC_BASE_URL = "https://51413c3e-4847-4bb3-851a-f02c3f76aa1d-00-1o01ujob0udrx.worf.replit.dev"
EMAIL_FROM = "onboarding@resend.dev"
NEXTAUTH_SECRET = "ofv+8AUZAhmG+iMwS312VcynIZX8RDxL9JY6vAILMGU="
GOOGLE_CLIENT_ID = "688191140994-j7o7ds3shs4s7tm4aehs58a0mnoid3s2.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
NEXT_PUBLIC_ENABLE_EMPREITEIRO_MOCK = "true"
